<div
  class="flex flex-col justify-center items-start lg:items-center w-full h-screen lg:px-0 bg-primary-500"
>
  <div class="w-full max-w-3xl px-8">
    <div class="text-3xl lg:text-5xl text-taiga-gray-50 font-semibold mb-8">
      Link your Accounts
    </div>
    {{#if error}}
      <div
        class="flex flex-row justify-start items-center gap-5 w-full h-12 lg:h-16 bg-taiga-gray-50 rounded-md text-md lg:text-xl text-red-600 font-semibold px-6 mb-6 shadow-md"
      >
        <div
          class="flex justify-center items-center w-8 lg:w-10 h-8 lg:h-10 rounded-full border-2 border-red-600 text-2xl text-red-600"
        >!</div>
        <div>{{error}}</div>
      </div>
    {{/if}}
    <form
    id="commentform"
      method="POST"
      action="/form"
      class="flex flex-col justify-center items-start gap-5"
    >
      <label
        for="username"
        class="flex flex-col lg:flex-row text-taiga-gray-50 font-medium"
      >Discord Username
      </label>
      <div class="flex w-full flex-col gap-2 all_width">
        <input
          class="w-full h-12 pl-2 rounded-md shadow-md text-taiga-gray-200 bg-white bg-opacity-30 cursor-not-allowed outline-none"
          name="username"
          type="text"
          readonly
          placeholder="Discord username"
          value="{{username}}"
        />
        <div class="text-xs lg:text-sm text-taiga-gray-100">Note: this was
          pulled from your Discord login</div>
      </div>
      <label for="acalaAddress" class="text-taiga-gray-50 font-medium">AcalaAddress Address (Required)<span class="required">*</span></label>
      <div class="flex flex-col gap-2">
        <input
          class="w-full h-12 pl-2 rounded-md shadow-md text-taiga-gray-900 all_width"
          name="acalaAddress"
          type="text"
          required
          placeholder="Acala address"
          value="{{acalaAddress}}"
        />
        <div class="text-taiga-gray-50 text-sm">Please input the acala address that you have interacted with Tapio protocol on Acala dApp
          <a
            class="underline"
            href="https://pale-broccoli-c54.notion.site/Connect-wallet-c7e1e331c6fe488c83e08bbf30fe9781"
            target="_blank"
          >guide</a>.</div>
      </div>
      <label for="email" class="text-taiga-gray-50 font-medium">Email
        </label>
      <div class="flex flex-col gap-2 all_width">
        <input
          class="w-full h-12 pl-2 rounded-md shadow-md text-taiga-gray-900"
          name="email"
          type="email"
          placeholder="Subscribed email"
          value="{{email}}"
        />
        <div class="text-taiga-gray-50 text-sm">Please input the email address that you use to subscribe Tapio's newsletter</div>
      </div>

      <label for="twitterAddress" class="text-taiga-gray-50 font-medium">Tweet link
        </label>
      <div class="flex flex-col gap-2 all_width">
        <input
          class="w-full h-12 pl-2 rounded-md shadow-md text-taiga-gray-900"
          name="addressTwitter"
          type="addressTwitter"
          placeholder="Address twitter"
          value="{{addressTwitter}}"
        />
        <div class="text-taiga-gray-50 text-sm">Please input the quote tweet link about our tDOT(https: )</div>
      </div>
      <div class="g-recaptcha" data-sitekey="6Le94VUgAAAAAN34v0_p7tMF_gozpKZGAmQpg5r9" data-callback="recaptchaCallback"></div>
    <button
        id="submitBtn"
        type="submit"
        class="self-center bg-taiga-gray-50 px-6 py-2 rounded-sm text-primary-600 font-medium shadow-md hover:shadow-xl"
      disabled>
        Submit
      </button>
    </form></div>
</div> 
<script>
  function recaptchaCallback() {
    document.getElementById('submitBtn').removeAttribute('disabled');
  };
</script>
