<div
  class="flex flex-col justify-center items-start lg:items-center w-full lg:px-0 bg-primary-500"
>
  <div class="w-full max-w-3xl px-8">
    <div class="text-3xl lg:text-5xl text-taiga-gray-50 font-semibold mb-8">
      Link your Accounts
    </div>
    {{#if error}}
      <div
        class="flex flex-row justify-start items-center gap-5 w-full h-12 lg:h-16 bg-taiga-gray-50 rounded-md text-md lg:text-xl text-red-600 font-semibold px-6 mb-6 shadow-md"
      >
        <div
          class="flex justify-center items-center w-8 lg:w-10 h-8 lg:h-10 rounded-full border-2 border-red-600 text-2xl text-red-600"
        >!</div>
        <div>{{error}}</div>
      </div>
    {{/if}}
    <form
    id="commentform"
      method="POST"
      action="/form"
      class="flex flex-col justify-center items-start gap-5"
    >
      <label
        for="username"
        class="flex flex-col lg:flex-row text-taiga-gray-50 font-medium"
      >Discord Username
      </label>
      <div class="flex w-full flex-col gap-2 all_width">
        <input
          class="w-full h-12 pl-2 rounded-md shadow-md text-taiga-gray-200 bg-white bg-opacity-30 cursor-not-allowed outline-none"
          name="username"
          type="text"
          readonly
          placeholder="Discord username"
          value="{{username}}"
        />
        <div class="text-xs lg:text-sm text-taiga-gray-100">Note: this was
          pulled from your Discord login</div>
      </div>
    <div class="question1">
       <label for="twitterAddress" class="text-taiga-gray-50 font-medium">
        Question mission (Only all answers correct can earn this mission XP):
        </label>
       
        <br>
        <label for="twitterAddress" class="text-taiga-gray-50 font-medium">
        1. What is the composition of tDOT on Acala?
        </label>
        <br>
      <input type="radio" id="html" name="q1" value="1" {{checked1_1}}>
      <label class="text-white" for="html">DOT and lcDOT</label><br>
      <input type="radio" id="css" name="q1" value="2" {{checked1_2}}>
      <label class="text-white" for="css">DOT and LDOT</label><br>
      <input type="radio" id="javascript" name="q1" value="3" {{checked1_3}}>
      <label class="text-white" for="javascript">LDOT and lcDOT</label>
    </div>
    
     <div class="question2">
       
       
      
        <label for="twitterAddress" class="text-taiga-gray-50 font-medium">
        2. What can tDOT holders earn?
        </label>
        <br>
      <input type="radio" id="html" name="q2" value="1" {{checked2_1}}>
      <label class="text-white" for="html">Underlying yield from derivative </label><br>
      <input type="radio" id="css" name="q2" value="2" {{checked2_2}}>
      <label class="text-white" for="css">Protocol fees </label><br>
      <input type="radio" id="javascript" name="q2" value="3" {{checked2_3}}>
      <label class="text-white" for="javascript">Both</label>
    </div>
    <div class="question3">
      
       
  
        <label for="twitterAddress" class="text-taiga-gray-50 font-medium">
        3. What are the features of tDOT?
        </label>
        <br>
      <input type="radio" id="html" name="q3" value="1" {{checked3_1}}>
      <label class="text-white" for="html">As efficient swap engine </label><br>
      <input type="radio" id="css" name="q3" value="2" {{checked3_2}}>
      <label class="text-white" for="css">Provide competitive yield and peg against native DOT </label><br>
      <input type="radio" id="javascript" name="q3" value="3" {{checked3_3}}>
      <label class="text-white" for="javascript">Both</label>
    </div>
      {{!-- <label for="karuraAddress" class="text-taiga-gray-50 font-medium">Karura Address (Required)<span class="required">*</span></label>
      <div class="flex flex-col gap-2">
        <input
          class="w-full h-12 pl-2 rounded-md shadow-md text-taiga-gray-900 all_width"
          name="karuraAddress"
          type="text"
          required
          placeholder="Karura Address"
          value="{{karuraAddress}}"
        />
        <div class="text-taiga-gray-50 text-sm">Please input the Karura address that you have interacted with 3pool on Karura dApp
      </div> --}}
      
      <label for="twitterAddress" class="text-taiga-gray-50 font-medium">Tweet link
        </label>
      <div class="flex flex-col gap-2 all_width">
        <input
          class="w-full h-12 pl-2 rounded-md shadow-md text-taiga-gray-900"
          name="addressTwitter"
          type="addressTwitter"
          placeholder="Address twitter"
          value="{{addressTwitter}}"
        />
        <div class="text-taiga-gray-50 text-sm">Please follow Tapio’s Twitter and input the quote tweet link  (https:)</div>
      </div>
      
      <label for="telegramUserName" class="text-taiga-gray-50 font-medium">Telegram username
        </label>
      <div class="flex flex-col gap-2 all_width">
        <input
          class="w-full h-12 pl-2 rounded-md shadow-md text-taiga-gray-900"
          name="telegramUserName"
          type="text"
          placeholder="Subscribed email"
          value="{{#if telegramUserName}}{{telegramUserName}} {{else}}@{{/if}}"
        />
        <div class="text-taiga-gray-50 text-sm">Please input the user name that you use to join Tapio's announcement channel of Telegram (ie. @xxxxxxx)</div>
      </div>

    
      <div class="g-recaptcha" data-sitekey="6Le94VUgAAAAAN34v0_p7tMF_gozpKZGAmQpg5r9" data-callback="recaptchaCallback"></div>
    <button
        id="submitBtn"
        type="submit"
        class="self-center bg-taiga-gray-50 px-6 py-2 rounded-sm text-primary-600 font-medium shadow-md hover:shadow-xl"
      >
        Submit
      </button>
    </form></div>
</div> 
<script>
  function recaptchaCallback() {
    document.getElementById('submitBtn').removeAttribute('disabled');
  };
</script>
