[ec2-user@ip-192-168-67-168 taiga-event]$ npm run start:server

> taiga-event-form@1.0.0 start:server
> NODE_ENV=dev ts-node ./src/index.ts

MongoParseError: Invalid scheme, expected connection string to start with "mongodb://" or "mongodb+srv://"
    at new ConnectionString (/home/ec2-user/taiga-event/node_modules/mongodb-connection-string-url/src/index.ts:133:13)
    at parseOptions (/home/ec2-user/taiga-event/node_modules/mongodb/src/connection_string.ts:262:15)
    at new MongoClient (/home/ec2-user/taiga-event/node_modules/mongodb/src/mongo_client.ts:343:34)
    at /home/ec2-user/taiga-event/src/db.ts:8:18
    at Generator.next (<anonymous>)
    at /home/ec2-user/taiga-event/src/db.ts:8:71
    at new Promise (<anonymous>)
    at __awaiter (/home/ec2-user/taiga-event/src/db.ts:4:12)
    at connect (/home/ec2-user/taiga-event/src/db.ts:15:12)
    at /home/ec2-user/taiga-event/src/index.ts:82:18
[ec2-user@ip-192-168-67-168 taiga-event]$ vim .env
[ec2-user@ip-192-168-67-168 taiga-event]$ npm run start:server

> taiga-event-form@1.0.0 start:server
> NODE_ENV=dev ts-node ./src/index.ts

express-session deprecated undefined resave option; provide resave option src/index.ts:52:43
express-session deprecated undefined saveUninitialized option; provide saveUninitialized option src/index.ts:52:43
Listening on 4000
TokenError: Invalid "code" in request.
    at Strategy.OAuth2Strategy.parseErrorResponse (/home/ec2-user/taiga-event/node_modules/passport-oauth2/lib/strategy.js:373:12)
    at Strategy.OAuth2Strategy._createOAuthError (/home/ec2-user/taiga-event/node_modules/passport-oauth2/lib/strategy.js:420:16)
    at /home/ec2-user/taiga-event/node_modules/passport-oauth2/lib/strategy.js:177:45
    at /home/ec2-user/taiga-event/node_modules/oauth/lib/oauth2.js:191:18
    at passBackControl (/home/ec2-user/taiga-event/node_modules/oauth/lib/oauth2.js:132:9)
    at IncomingMessage.<anonymous> (/home/ec2-user/taiga-event/node_modules/oauth/lib/oauth2.js:157:7)
    at IncomingMessage.emit (node:events:539:35)
    at IncomingMessage.emit (node:domain:475:12)
    at endReadableNT (node:internal/streams/readable:1345:12)
    at processTicksAndRejections (node:internal/process/task_queues:83:21)
TokenError: Invalid "code" in request.
    at Strategy.OAuth2Strategy.parseErrorResponse (/home/ec2-user/taiga-event/node_modules/passport-oauth2/lib/strategy.js:373:12)
    at Strategy.OAuth2Strategy._createOAuthError (/home/ec2-user/taiga-event/node_modules/passport-oauth2/lib/strategy.js:420:16)
    at /home/ec2-user/taiga-event/node_modules/passport-oauth2/lib/strategy.js:177:45
    at /home/ec2-user/taiga-event/node_modules/oauth/lib/oauth2.js:191:18
NODE_ENV=dev
CLIENT_ID =944572903360442429
CLIENT_SECRET=n96Esnv38PJpbayTKIyD7wuSbYTVoFGq
CALLBACK_URL=https://event.tapioprotocol.io/auth/discord/callback
DB_URI=mongodb://twitter.c54welairjft.ap-southeast-1.docdb.amazonaws.com:27017/user
SECRET=n96Esnv38PJpbayTKIyD7wuSbYTVoFGq
PORT=4000
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
".env" 7L, 290B                                                                                                     5,17          All
NODE_ENV=dev
    at passBackControl (/home/ec2-user/taiga-event/node_modules/oauth/lib/oauth2.js:132:9)
    at IncomingMessage.<anonymous> (/home/ec2-user/taiga-event/node_modules/oauth/lib/oauth2.js:157:7)
    at IncomingMessage.emit (node:events:539:35)
    at IncomingMessage.emit (node:domain:475:12)
    at endReadableNT (node:internal/streams/readable:1345:12)
    at processTicksAndRejections (node:internal/process/task_queues:83:21)
TokenError: Invalid "code" in request.
    at Strategy.OAuth2Strategy.parseErrorResponse (/home/ec2-user/taiga-event/node_modules/passport-oauth2/lib/strategy.js:373:12)
    at Strategy.OAuth2Strategy._createOAuthError (/home/ec2-user/taiga-event/node_modules/passport-oauth2/lib/strategy.js:420:16)
    at /home/ec2-user/taiga-event/node_modules/passport-oauth2/lib/strategy.js:177:45
    at /home/ec2-user/taiga-event/node_modules/oauth/lib/oauth2.js:191:18
    at passBackControl (/home/ec2-user/taiga-event/node_modules/oauth/lib/oauth2.js:132:9)
    at IncomingMessage.<anonymous> (/home/ec2-user/taiga-event/node_modules/oauth/lib/oauth2.js:157:7)
    at IncomingMessage.emit (node:events:539:35)
    at IncomingMessage.emit (node:domain:475:12)
    at endReadableNT (node:internal/streams/readable:1345:12)
    at processTicksAndRejections (node:internal/process/task_queues:83:21)
chiave di ricerca423520333128138758
MongoServerError: Authorization failure
    at Connection.onMessage (/home/ec2-user/taiga-event/node_modules/mongodb/src/cmap/connection.ts:439:20)
    at MessageStream.<anonymous> (/home/ec2-user/taiga-event/node_modules/mongodb/src/cmap/connection.ts:266:56)
    at MessageStream.emit (node:events:527:28)
    at MessageStream.emit (node:domain:475:12)
    at processIncomingData (/home/ec2-user/taiga-event/node_modules/mongodb/src/cmap/message_stream.ts:168:12)
    at MessageStream._write (/home/ec2-user/taiga-event/node_modules/mongodb/src/cmap/message_stream.ts:65:5)
    at writeOrBuffer (node:internal/streams/writable:389:12)
    at _write (node:internal/streams/writable:330:10)
    at MessageStream.Writable.write (node:internal/streams/writable:334:10)
    at Socket.ondata (node:internal/streams/readable:754:22)
^[[A^C
[ec2-user@ip-192-168-67-168 taiga-event]$ vim .env
[ec2-user@ip-192-168-67-168 taiga-event]$ npm run start:server

NODE_ENV=dev
CLIENT_ID =944572903360442429
CLIENT_SECRET=n96Esnv38PJpbayTKIyD7wuSbYTVoFGq
CALLBACK_URL=https://event.tapioprotocol.io/auth/discord/callback
DB_URI=mongodb://twitter.c54welairjft.ap-southeast-1.docdb.amazonaws.com:27017/twitter
SECRET=n96Esnv38PJpbayTKIyD7wuSbYTVoFGq
PORT=4000
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
".env" 7L, 293B                                                                                                     6,1           All
NODE_ENV=dev
> taiga-event-form@1.0.0 start:server
> NODE_ENV=dev ts-node ./src/index.ts

express-session deprecated undefined resave option; provide resave option src/index.ts:52:43
express-session deprecated undefined saveUninitialized option; provide saveUninitialized option src/index.ts:52:43
Listening on 4000
TokenError: Invalid "code" in request.
    at Strategy.OAuth2Strategy.parseErrorResponse (/home/ec2-user/taiga-event/node_modules/passport-oauth2/lib/strategy.js:373:12)
    at Strategy.OAuth2Strategy._createOAuthError (/home/ec2-user/taiga-event/node_modules/passport-oauth2/lib/strategy.js:420:16)
    at /home/ec2-user/taiga-event/node_modules/passport-oauth2/lib/strategy.js:177:45
    at /home/ec2-user/taiga-event/node_modules/oauth/lib/oauth2.js:191:18
    at passBackControl (/home/ec2-user/taiga-event/node_modules/oauth/lib/oauth2.js:132:9)
    at IncomingMessage.<anonymous> (/home/ec2-user/taiga-event/node_modules/oauth/lib/oauth2.js:157:7)
    at IncomingMessage.emit (node:events:539:35)
    at IncomingMessage.emit (node:domain:475:12)
    at endReadableNT (node:internal/streams/readable:1345:12)
    at processTicksAndRejections (node:internal/process/task_queues:83:21)
chiave di ricerca423520333128138758
MongoServerError: Authorization failure
    at Connection.onMessage (/home/ec2-user/taiga-event/node_modules/mongodb/src/cmap/connection.ts:439:20)
    at MessageStream.<anonymous> (/home/ec2-user/taiga-event/node_modules/mongodb/src/cmap/connection.ts:266:56)
    at MessageStream.emit (node:events:527:28)
    at MessageStream.emit (node:domain:475:12)
    at processIncomingData (/home/ec2-user/taiga-event/node_modules/mongodb/src/cmap/message_stream.ts:168:12)
    at MessageStream._write (/home/ec2-user/taiga-event/node_modules/mongodb/src/cmap/message_stream.ts:65:5)
    at writeOrBuffer (node:internal/streams/writable:389:12)
    at _write (node:internal/streams/writable:330:10)
    at MessageStream.Writable.write (node:internal/streams/writable:334:10)
    at Socket.ondata (node:internal/streams/readable:754:22)
^C
[ec2-user@ip-192-168-67-168 taiga-event]$ vim .env
[ec2-user@ip-192-168-67-168 taiga-event]$ npm run start:server

NODE_ENV=dev
CLIENT_ID =944572903360442429
CLIENT_SECRET=n96Esnv38PJpbayTKIyD7wuSbYTVoFGq
CALLBACK_URL=https://event.tapioprotocol.io/auth/discord/callback
DB_URI=mongodb://twitter.c54welairjft.ap-southeast-1.docdb.amazonaws.com:27017/twitter
SECRET=33679438-b9b1-45c0-81f4-6e927ec28a05
PORT=4000
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
".env" 7L, 297B                                                                                                     6,43          All
NODE_ENV=dev
> taiga-event-form@1.0.0 start:server
> NODE_ENV=dev ts-node ./src/index.ts

express-session deprecated undefined resave option; provide resave option src/index.ts:52:43
express-session deprecated undefined saveUninitialized option; provide saveUninitialized option src/index.ts:52:43
Listening on 4000
TokenError: Invalid "code" in request.
    at Strategy.OAuth2Strategy.parseErrorResponse (/home/ec2-user/taiga-event/node_modules/passport-oauth2/lib/strategy.js:373:12)
    at Strategy.OAuth2Strategy._createOAuthError (/home/ec2-user/taiga-event/node_modules/passport-oauth2/lib/strategy.js:420:16)
    at /home/ec2-user/taiga-event/node_modules/passport-oauth2/lib/strategy.js:177:45
    at /home/ec2-user/taiga-event/node_modules/oauth/lib/oauth2.js:191:18
    at passBackControl (/home/ec2-user/taiga-event/node_modules/oauth/lib/oauth2.js:132:9)
    at IncomingMessage.<anonymous> (/home/ec2-user/taiga-event/node_modules/oauth/lib/oauth2.js:157:7)
    at IncomingMessage.emit (node:events:539:35)
    at IncomingMessage.emit (node:domain:475:12)
    at endReadableNT (node:internal/streams/readable:1345:12)
    at processTicksAndRejections (node:internal/process/task_queues:83:21)
chiave di ricerca423520333128138758
MongoServerError: Authorization failure
    at Connection.onMessage (/home/ec2-user/taiga-event/node_modules/mongodb/src/cmap/connection.ts:439:20)
    at MessageStream.<anonymous> (/home/ec2-user/taiga-event/node_modules/mongodb/src/cmap/connection.ts:266:56)
    at MessageStream.emit (node:events:527:28)
    at MessageStream.emit (node:domain:475:12)
    at processIncomingData (/home/ec2-user/taiga-event/node_modules/mongodb/src/cmap/message_stream.ts:168:12)
    at MessageStream._write (/home/ec2-user/taiga-event/node_modules/mongodb/src/cmap/message_stream.ts:65:5)
    at writeOrBuffer (node:internal/streams/writable:389:12)
    at _write (node:internal/streams/writable:330:10)
    at MessageStream.Writable.write (node:internal/streams/writable:334:10)
    at Socket.ondata (node:internal/streams/readable:754:22)
^C
[ec2-user@ip-192-168-67-168 taiga-event]$ vim .env
[ec2-user@ip-192-168-67-168 taiga-event]$ npm run start:server

> taiga-event-form@1.0.0 start:server
> NODE_ENV=dev ts-node ./src/index.ts

express-session deprecated undefined resave option; provide resave option src/index.ts:52:43
express-session deprecated undefined saveUninitialized option; provide saveUninitialized option src/index.ts:52:43
Listening on 4000
chiave di ricerca423520333128138758
testtest=423520333128138758
chiamata submit
RISPOSTA{"acknowledged":true,"modifiedCount":1,"upsertedId":null,"upsertedCount":0,"matchedCount":1}
testtest=423520333128138758
chiamata submit
RISPOSTA{"acknowledged":true,"modifiedCount":1,"upsertedId":null,"upsertedCount":0,"matchedCount":1}
<div
  class="flex flex-col justify-center items-start lg:items-center w-full h-screen lg:px-0 bg-primary-500"
>
  <div class="w-full max-w-3xl px-8">
    <div class="text-3xl lg:text-5xl text-taiga-gray-50 font-semibold mb-8">
      Link your Accounts
    </div>
    {{#if error}}
      <div
        class="flex flex-row justify-start items-center gap-5 w-full h-12 lg:h-16 bg-taiga-gray-50 rounded-md text-md lg:text-xl text-red-600 font-semibold px-6 mb-6 shadow-md"
      >
        <div
          class="flex justify-center items-center w-8 lg:w-10 h-8 lg:h-10 rounded-full border-2 border-red-600 text-2xl text-red-600"
        >!</div>
        <div>{{error}}</div>
      </div>
    {{/if}}
    <form
    id="commentform"
      method="POST"
      action="/form"
      class="flex flex-col justify-center items-start gap-5"
    >
      <label
        for="username"
        class="flex flex-col lg:flex-row text-taiga-gray-50 font-medium"
      >Discord Username
      </label>
      <div class="flex w-full flex-col gap-2 all_width">
        <input
"form.handlebars" [noeol] 106L, 4162B                                                                               1,1           Top
          name="addressTwitter"
testtest=423520333128138758
^C
[ec2-user@ip-192-168-67-168 taiga-event]$ git pull
remote: Enumerating objects: 9, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (1/1), done.
remote: Total 5 (delta 4), reused 5 (delta 4), pack-reused 0
Unpacking objects: 100% (5/5), 416 bytes | 208.00 KiB/s, done.
From https://github.com/nutsfinance/taiga-event
   2ef13d8..b1c00de  main       -> origin/main
Updating 2ef13d8..b1c00de
Fast-forward
 src/views/form.handlebars | 10 +++++-----
 1 file changed, 5 insertions(+), 5 deletions(-)
[ec2-user@ip-192-168-67-168 taiga-event]$ npm run start:server
        <div class="text-taiga-gray-50 text-sm">Please input the email address that you use to subscribe Tapio's newsletter</div>
      </div>

      <label for="twitterAddress" class="text-taiga-gray-50 font-medium">Tweet link
        </label>
      <div class="flex flex-col gap-2 all_width">
        <input
          class="w-full h-12 pl-2 rounded-md shadow-md text-taiga-gray-900"
          name="addressTwitter"
          type="addressTwitter"
          placeholder="Address twitter"
          value="{{addressTwitter}}"
        />
        <div class="text-taiga-gray-50 text-sm">Please input the quote tweet link about our tDOT(https: )</div>
      </div>
      <div class="g-recaptcha" data-sitekey="6Le94VUgAAAAAN34v0_p7tMF_gozpKZGAmQpg5r9"></div>
    <button

        type="submit"
        class="self-center bg-taiga-gray-50 px-6 py-2 rounded-sm text-primary-600 font-medium shadow-md hover:shadow-xl"
      >
        Submit
      </button>
    </form></div>
</div>
<script>
 document.getElementById("commentform").onsubmit = function(e){
                e.preventDefault()

                //Get the captcha response
                var formData = new FormData(document.getElementById("commentform"))
"form.handlebars" 106L, 4163B                                                                                       83,85         89%

> taiga-event-form@1.0.0 start:server
> NODE_ENV=dev ts-node ./src/index.ts

express-session deprecated undefined resave option; provide resave option src/index.ts:52:43
express-session deprecated undefined saveUninitialized option; provide saveUninitialized option src/index.ts:52:43
Listening on 4000
chiave di ricerca423520333128138758
testtest=423520333128138758
testtest=423520333128138758
^C
[ec2-user@ip-192-168-67-168 taiga-event]$ cd src/
[ec2-user@ip-192-168-67-168 src]$ ls
db.ts  index.ts  input.css  routes  setup.ts  user  views
[ec2-user@ip-192-168-67-168 src]$ cd views/
[ec2-user@ip-192-168-67-168 views]$ vim form.handlebars
[ec2-user@ip-192-168-67-168 views]$ npm run start:server

> taiga-event-form@1.0.0 start:server
> NODE_ENV=dev ts-node ./src/index.ts

express-session deprecated undefined resave option; provide resave option src/index.ts:52:43
express-session deprecated undefined saveUninitialized option; provide saveUninitialized option src/index.ts:52:43
Listening on 4000
chiave di ricerca423520333128138758
testtest=423520333128138758
chiamata submit
RISPOSTA{"acknowledged":true,"modifiedCount":1,"upsertedId":null,"upsertedCount":0,"matchedCount":1}
testtest=423520333128138758
^C
[ec2-user@ip-192-168-67-168 views]$ vim form.handlebars
[ec2-user@ip-192-168-67-168 views]$ git pull
remote: Enumerating objects: 9, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (1/1), done.
remote: Total 5 (delta 4), reused 5 (delta 4), pack-reused 0
Unpacking objects: 100% (5/5), 508 bytes | 508.00 KiB/s, done.
From https://github.com/nutsfinance/taiga-event
   b1c00de..1587591  main       -> origin/main
Updating b1c00de..1587591
error: Your local changes to the following files would be overwritten by merge:
	src/views/form.handlebars
Please commit your changes or stash them before you merge.
Aborting
[ec2-user@ip-192-168-67-168 views]$ git add .
[ec2-user@ip-192-168-67-168 views]$ git commit -m "temp"
[main d8f43c9] temp
 Committer: EC2 Default User <ec2-user@ip-192-168-67-168.ap-southeast-1.compute.internal>
Your name and email address were configured automatically based
on your username and hostname. Please check that they are accurate.
You can suppress this message by setting them explicitly. Run the
following command and follow the instructions in your editor to edit
your configuration file:

    git config --global --edit

After doing this, you may fix the identity used for this commit with:

<<<<<<< HEAD
      <div class="g-recaptcha" data-sitekey="6Le94VUgAAAAAN34v0_p7tMF_gozpKZGAmQpg5r9"></div>
=======
      <div class="g-recaptcha" data-sitekey=""></div>
>>>>>>> 1587591853bfac5a06e336f1fe23e46ba7be9075
    <button
        id="submitBtn"
        type="submit"
        class="self-center bg-taiga-gray-50 px-6 py-2 rounded-sm text-primary-600 font-medium shadow-md hover:shadow-xl"
      disabled>
        Submit
      </button>
    </form></div>
</div>
<script>
<<<<<<< HEAD
 document.getElementById("commentform").onsubmit = function(e){
                e.preventDefault()

                //Get the captcha response
                var formData = new FormData(document.getElementById("commentform"))
                var captchaResponse = formData.get("g-recaptcha-response")
                console.log(captchaResponse);
                //call to backend to check response
                fetch("/checkResponse/"encodeURI(captchaResponse), {method: "POST"})
                .then(()=>location.reload())
            }

</script>
=======
  function recaptchaCallback() {
"form.handlebars" 117L, 4480B                                                                                       98,12         95%
          type="addressTwitter"
    git commit --amend --reset-author
        <div class="text-taiga-gray-50 text-sm">Please input the email address that you use to subscribe Tapio's newsletter</div>
      </div>

      <label for="twitterAddress" class="text-taiga-gray-50 font-medium">Tweet link
        </label>
      <div class="flex flex-col gap-2 all_width">
        <input
          class="w-full h-12 pl-2 rounded-md shadow-md text-taiga-gray-900"
          name="addressTwitter"
          type="addressTwitter"
          placeholder="Address twitter"
          value="{{addressTwitter}}"
        />
        <div class="text-taiga-gray-50 text-sm">Please input the quote tweet link about our tDOT(https: )</div>
      </div>
      <div class="g-recaptcha" data-sitekey=""></div>
    <button
        id="submitBtn"
        type="submit"
        class="self-center bg-taiga-gray-50 px-6 py-2 rounded-sm text-primary-600 font-medium shadow-md hover:shadow-xl"
      disabled>
        Submit
      </button>
    </form></div>
</div>
<script>
  function recaptchaCallback() {
    $('#submitBtn').removeAttr('disabled');
  };
</script>
>>>>>>> 1587591853bfac5a06e336f1fe23e46ba7be9075
"form.handlebars" 98L, 3736B                                                                                        83,53         Bot
        <div class="text-taiga-gray-50 text-sm">Please input the email address that you use to subscribe Tapio's newsletter</div>

 1 file changed, 2 insertions(+), 2 deletions(-)
[ec2-user@ip-192-168-67-168 views]$ git push
Username for 'https://github.com': ^C
[ec2-user@ip-192-168-67-168 views]$ git stash
Saved working directory and index state WIP on main: d8f43c9 temp
[ec2-user@ip-192-168-67-168 views]$ git pull
hint: Pulling without specifying how to reconcile divergent branches is
hint: discouraged. You can squelch this message by running one of the following
hint: commands sometime before your next pull:
hint:
hint:   git config pull.rebase false  # merge (the default strategy)
hint:   git config pull.rebase true   # rebase
hint:   git config pull.ff only       # fast-forward only
hint:
hint: You can replace "git config" with "git config --global" to set a default
hint: preference for all repositories. You can also pass --rebase, --no-rebase,
hint: or --ff-only on the command line to override the configured default per
hint: invocation.
Auto-merging src/views/form.handlebars
CONFLICT (content): Merge conflict in src/views/form.handlebars
Automatic merge failed; fix conflicts and then commit the result.
[ec2-user@ip-192-168-67-168 views]$ cd ..
[ec2-user@ip-192-168-67-168 src]$ cd ..
[ec2-user@ip-192-168-67-168 taiga-event]$ cd src/
[ec2-user@ip-192-168-67-168 src]$ cd views/
[ec2-user@ip-192-168-67-168 views]$ ls
404.handlebars  form.handlebars  login.handlebars    profile-too-late.handlebars  unsuccess.handlebars
500.handlebars  layouts          profile.handlebars  success.handlebars
[ec2-user@ip-192-168-67-168 views]$ vim form.handlebars
[ec2-user@ip-192-168-67-168 views]$ vim form.handlebars
[ec2-user@ip-192-168-67-168 views]$ git pull
error: Pulling is not possible because you have unmerged files.
hint: Fix them up in the work tree, and then use 'git add/rm <file>'
hint: as appropriate to mark resolution and make a commit.
fatal: Exiting because of an unresolved conflict.
[ec2-user@ip-192-168-67-168 views]$ git status
On branch main
Your branch and 'origin/main' have diverged,
and have 1 and 1 different commits each, respectively.
  (use "git pull" to merge the remote branch into yours)

You have unmerged paths.
  (fix conflicts and run "git commit")
  (use "git merge --abort" to abort the merge)

Unmerged paths:
  (use "git add <file>..." to mark resolution)
	both modified:   form.handlebars

no changes added to commit (use "git add" and/or "git commit -a")
[ec2-user@ip-192-168-67-168 views]$ cd ..
[ec2-user@ip-192-168-67-168 src]$ cd ..c
-bash: cd: ..c: No such file or directory
[ec2-user@ip-192-168-67-168 src]$ cd ..
[ec2-user@ip-192-168-67-168 taiga-event]$ cd ..
[ec2-user@ip-192-168-67-168 ~]$ ls
taiga-event
[ec2-user@ip-192-168-67-168 ~]$ git clone https://github.com/nutsfinance/taiga-event.git
fatal: destination path 'taiga-event' already exists and is not an empty directory.
[ec2-user@ip-192-168-67-168 ~]$ git clone https://github.com/nutsfinance/taiga-event.git test
Cloning into 'test'...
remote: Enumerating objects: 384, done.
remote: Counting objects: 100% (25/25), done.
remote: Compressing objects: 100% (19/19), done.
remote: Total 384 (delta 9), reused 15 (delta 6), pack-reused 359
Receiving objects: 100% (384/384), 29.13 MiB | 10.29 MiB/s, done.
Resolving deltas: 100% (243/243), done.
[ec2-user@ip-192-168-67-168 ~]$ rm -rf test/
[ec2-user@ip-192-168-67-168 ~]$ ls

~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
"form.handlebars" [New]                                                                                             0,0-1         All
        />
taiga-event
[ec2-user@ip-192-168-67-168 ~]$ cd taiga-event/
[ec2-user@ip-192-168-67-168 taiga-event]$ ls
api-deployment.yaml      Event details draft - Documenti Google.webloc  node_modules            recaptchaServerCheck  yarn.lock
api-ingress-public.yaml  Event_verification_page_logic.pptx             package.json            src
api-service.yaml         external-dev.pem                               package-lock copy.json  taiga-event-form.zip
ca-certificate.cer       json                                           package-lock.json       tailwind.config.js
Dockerfile               LICENSE                                        public                  tsconfig.json
[ec2-user@ip-192-168-67-168 taiga-event]$ git pull
error: Pulling is not possible because you have unmerged files.
hint: Fix them up in the work tree, and then use 'git add/rm <file>'
hint: as appropriate to mark resolution and make a commit.
fatal: Exiting because of an unresolved conflict.
[ec2-user@ip-192-168-67-168 taiga-event]$ git status
On branch main
Your branch and 'origin/main' have diverged,
and have 1 and 1 different commits each, respectively.
  (use "git pull" to merge the remote branch into yours)

You have unmerged paths.
  (fix conflicts and run "git commit")
  (use "git merge --abort" to abort the merge)

Unmerged paths:
  (use "git add <file>..." to mark resolution)
	both modified:   src/views/form.handlebars

no changes added to commit (use "git add" and/or "git commit -a")
[ec2-user@ip-192-168-67-168 taiga-event]$ cd src/views/
      </div>
<<<<<<< HEAD
      <div class="g-recaptcha" data-sitekey="6Le94VUgAAAAAN34v0_p7tMF_gozpKZGAmQpg5r9"></div>
=======
      <div class="g-recaptcha" data-sitekey=""></div>
>>>>>>> 1587591853bfac5a06e336f1fe23e46ba7be9075
    <button
        id="submitBtn"
        type="submit"
        class="self-center bg-taiga-gray-50 px-6 py-2 rounded-sm text-primary-600 font-medium shadow-md hover:shadow-xl"
      disabled>
        Submit
      </button>
    </form></div>
</div>
<script>
<<<<<<< HEAD
 document.getElementById("commentform").onsubmit = function(e){
                e.preventDefault()

                //Get the captcha response
                var formData = new FormData(document.getElementById("commentform"))
                var captchaResponse = formData.get("g-recaptcha-response")
                console.log(captchaResponse);
                //call to backend to check response
                fetch("/checkResponse/"encodeURI(captchaResponse), {method: "POST"})
                .then(()=>location.reload())
            }

</script>
=======
"form.handlebars" 117L, 4480B                                                                                       97,8          94%
[ec2-user@ip-192-168-67-168 views]$ rm -rf form.handlebars
[ec2-user@ip-192-168-67-168 views]$ vim  form.handlebars
[ec2-user@ip-192-168-67-168 views]$ git pull
error: Pulling is not possible because you have unmerged files.
hint: Fix them up in the work tree, and then use 'git add/rm <file>'
hint: as appropriate to mark resolution and make a commit.
fatal: Exiting because of an unresolved conflict.
[ec2-user@ip-192-168-67-168 views]$ git add .
[ec2-user@ip-192-168-67-168 views]$ git pull
error: You have not concluded your merge (MERGE_HEAD exists).
hint: Please, commit your changes before merging.
fatal: Exiting because of unfinished merge.
NODE_ENV=dev
CLIENT_ID =944572903360442429
CLIENT_SECRET=n96Esnv38PJpbayTKIyD7wuSbYTVoFGq
CALLBACK_URL=https://event.tapioprotocol.io/auth/discord/callback
DB_URI=mongodb://twitter:33679438-b9b1-45c0-81f4-6e927ec28a05@twitter.cluster-c54welairjft.ap-southeast-1.docdb.amazonaws.com:27017/tapio-event?replicaSet=rs0&readPreference=secondaryPreferred&retryWrites=false
SECRET=33679438-b9b1-45c0-81f4-6e927ec28a05
PORT=4000
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
".env" 7L, 421B                                                                                                     5,210         All
NODE_ENV=dev
[ec2-user@ip-192-168-67-168 views]$ git stash
Saved working directory and index state WIP on main: d8f43c9 temp
[ec2-user@ip-192-168-67-168 views]$ git pull
hint: Pulling without specifying how to reconcile divergent branches is
hint: discouraged. You can squelch this message by running one of the following
hint: commands sometime before your next pull:
hint:
hint:   git config pull.rebase false  # merge (the default strategy)
hint:   git config pull.rebase true   # rebase
hint:   git config pull.ff only       # fast-forward only
hint:
hint: You can replace "git config" with "git config --global" to set a default
hint: preference for all repositories. You can also pass --rebase, --no-rebase,
hint: or --ff-only on the command line to override the configured default per
hint: invocation.
Auto-merging src/views/form.handlebars
CONFLICT (content): Merge conflict in src/views/form.handlebars
Automatic merge failed; fix conflicts and then commit the result.
[ec2-user@ip-192-168-67-168 views]$ vim form.handlebars
[ec2-user@ip-192-168-67-168 views]$ cd ../..
[ec2-user@ip-192-168-67-168 taiga-event]$ ls
api-deployment.yaml      Event details draft - Documenti Google.webloc  node_modules            recaptchaServerCheck  yarn.lock
api-ingress-public.yaml  Event_verification_page_logic.pptx             package.json            src
api-service.yaml         external-dev.pem                               package-lock copy.json  taiga-event-form.zip
ca-certificate.cer       json                                           package-lock.json       tailwind.config.js

~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
".env" [New]                                                                                                        0,0-1         All
NODE_ENV=dev
Dockerfile               LICENSE                                        public                  tsconfig.json
[ec2-user@ip-192-168-67-168 taiga-event]$ cd ..
[ec2-user@ip-192-168-67-168 ~]$ ls
taiga-event
[ec2-user@ip-192-168-67-168 ~]$ cd taiga-event/
[ec2-user@ip-192-168-67-168 taiga-event]$ vim .env
[ec2-user@ip-192-168-67-168 taiga-event]$ cd ..
[ec2-user@ip-192-168-67-168 ~]$ rm -rf taiga-event/
[ec2-user@ip-192-168-67-168 ~]$ git clone https://github.com/nutsfinance/taiga-event.git
Cloning into 'taiga-event'...
remote: Enumerating objects: 384, done.
remote: Counting objects: 100% (25/25), done.
remote: Compressing objects: 100% (19/19), done.
<div
  class="flex flex-col justify-center items-start lg:items-center w-full h-screen lg:px-0 bg-primary-500"
>
  <div class="w-full max-w-3xl px-8">
    <div class="text-3xl lg:text-5xl text-taiga-gray-50 font-semibold mb-8">
      Link your Accounts
    </div>
    {{#if error}}
      <div
        class="flex flex-row justify-start items-center gap-5 w-full h-12 lg:h-16 bg-taiga-gray-50 rounded-md text-md lg:text-xl text-red-600 font-semibold px-6 mb-6 shadow-md"
      >
        <div
          class="flex justify-center items-center w-8 lg:w-10 h-8 lg:h-10 rounded-full border-2 border-red-600 text-2xl text-red-600"
        >!</div>
        <div>{{error}}</div>
      </div>
    {{/if}}
    <form
    id="commentform"
      method="POST"
      action="/form"
      class="flex flex-col justify-center items-start gap-5"
    >
      <label
        for="username"
        class="flex flex-col lg:flex-row text-taiga-gray-50 font-medium"
      >Discord Username
      </label>
      <div class="flex w-full flex-col gap-2 all_width">
        <input
"form.handlebars" [noeol] 97L, 3686B                                                                                1,1           Top
        />
remote: Total 384 (delta 9), reused 15 (delta 6), pack-reused 359
Receiving objects: 100% (384/384), 29.13 MiB | 8.25 MiB/s, done.
Resolving deltas: 100% (243/243), done.
[ec2-user@ip-192-168-67-168 ~]$ cd taiga-event/
[ec2-user@ip-192-168-67-168 taiga-event]$ npm i
npm WARN EBADENGINE Unsupported engine {
npm WARN EBADENGINE   package: 'taiga-event-form@1.0.0',
npm WARN EBADENGINE   required: { node: 'v17.1.0' },
npm WARN EBADENGINE   current: { node: 'v16.15.1', npm: '8.11.0' }
npm WARN EBADENGINE }

added 220 packages, and audited 221 packages in 4s
        />
        <div class="text-taiga-gray-50 text-sm">Please input the email address that you use to subscribe Tapio's newsletter</div>
      </div>

      <label for="twitterAddress" class="text-taiga-gray-50 font-medium">Tweet link
        </label>
      <div class="flex flex-col gap-2 all_width">
        <input
          class="w-full h-12 pl-2 rounded-md shadow-md text-taiga-gray-900"
          name="addressTwitter"
          type="addressTwitter"
          placeholder="Address twitter"
          value="{{addressTwitter}}"
        />
        <div class="text-taiga-gray-50 text-sm">Please input the quote tweet link about our tDOT(https: )</div>
      </div>
      <div class="g-recaptcha" data-sitekey="6Le94VUgAAAAAN34v0_p7tMF_gozpKZGAmQpg5r9"></div>
    <button
        id="submitBtn"
        type="submit"
        class="self-center bg-taiga-gray-50 px-6 py-2 rounded-sm text-primary-600 font-medium shadow-md hover:shadow-xl"
      disabled>
        Submit
      </button>
    </form></div>
</div>
<script>
  function recaptchaCallback() {
    $('#submitBtn').removeAttr('disabled');
  };
</script>
"form.handlebars" 97L, 3727B                                                                                        83,85         Bot
        />

28 packages are looking for funding
  run `npm fund` for details

found 0 vulnerabilities
[ec2-user@ip-192-168-67-168 taiga-event]$ vim .env
[ec2-user@ip-192-168-67-168 taiga-event]$ npm run start:server

> taiga-event-form@1.0.0 start:server
> NODE_ENV=dev ts-node ./src/index.ts

express-session deprecated undefined resave option; provide resave option src/index.ts:52:43
express-session deprecated undefined saveUninitialized option; provide saveUninitialized option src/index.ts:52:43
        />
        <div class="text-taiga-gray-50 text-sm">Please input the email address that you use to subscribe Tapio's newsletter</div>
      </div>

      <label for="twitterAddress" class="text-taiga-gray-50 font-medium">Tweet link
        </label>
      <div class="flex flex-col gap-2 all_width">
        <input
          class="w-full h-12 pl-2 rounded-md shadow-md text-taiga-gray-900"
          name="addressTwitter"
          type="addressTwitter"
          placeholder="Address twitter"
          value="{{addressTwitter}}"
        />
        <div class="text-taiga-gray-50 text-sm">Please input the quote tweet link about our tDOT(https: )</div>
      </div>
      <div  class="g-recaptcha" data-callback="recaptchaCallback"  data-sitekey="6Le94VUgAAAAAN34v0_p7tMF_gozpKZGAmQpg5r9"></div>
    <button
        id="submitBtn"
        type="submit"
        class="self-center bg-taiga-gray-50 px-6 py-2 rounded-sm text-primary-600 font-medium shadow-md hover:shadow-xl"
      disabled>
        Submit
      </button>
    </form></div>
</div>
<script>
  function recaptchaCallback() {
    $('#submitBtn').removeAttr('disabled');
  };
</script>
"form.handlebars" 97L, 3763B                                                                                        83,66         Bot
Listening on 4000
chiave di ricerca423520333128138758
testtest=423520333128138758
^C
[ec2-user@ip-192-168-67-168 taiga-event]$ cd src/views/
[ec2-user@ip-192-168-67-168 views]$ vim form.handlebars
[ec2-user@ip-192-168-67-168 views]$ npm run start:server

> taiga-event-form@1.0.0 start:server
> NODE_ENV=dev ts-node ./src/index.ts

express-session deprecated undefined resave option; provide resave option src/index.ts:52:43
        />
        <div class="text-taiga-gray-50 text-sm">Please input the email address that you use to subscribe Tapio's newsletter</div>
      </div>

      <label for="twitterAddress" class="text-taiga-gray-50 font-medium">Tweet link
        </label>
      <div class="flex flex-col gap-2 all_width">
        <input
          class="w-full h-12 pl-2 rounded-md shadow-md text-taiga-gray-900"
          name="addressTwitter"
          type="addressTwitter"
          placeholder="Address twitter"
          value="{{addressTwitter}}"
        />
        <div class="text-taiga-gray-50 text-sm">Please input the quote tweet link about our tDOT(https: )</div>
      </div>
      <div  class="g-recaptcha" data-callback="recaptchaCallback"  data-sitekey="6Le94VUgAAAAAN34v0_p7tMF_gozpKZGAmQpg5r9"></div>
    <button
        id="submitBtn"
        type="submit"
        class="self-center bg-taiga-gray-50 px-6 py-2 rounded-sm text-primary-600 font-medium shadow-md hover:shadow-xl"
      disabled>
        Submit
      </button>
    </form></div>
</div>
<script>
  function recaptchaCallback() {
    $('#submitBtn').removeAttr('disabled');
  };
</script>
"form.handlebars" 97L, 3763B                                                                                        83,66         Bot
        />
express-session deprecated undefined saveUninitialized option; provide saveUninitialized option src/index.ts:52:43
Listening on 4000
chiave di ricerca423520333128138758
testtest=423520333128138758
^C
[ec2-user@ip-192-168-67-168 views]$ vim form.handlebars
[ec2-user@ip-192-168-67-168 views]$ npm run start:server

> taiga-event-form@1.0.0 start:server
> NODE_ENV=dev ts-node ./src/index.ts
        />
        <div class="text-taiga-gray-50 text-sm">Please input the email address that you use to subscribe Tapio's newsletter</div>
      </div>

      <label for="twitterAddress" class="text-taiga-gray-50 font-medium">Tweet link
        </label>
      <div class="flex flex-col gap-2 all_width">
        <input
          class="w-full h-12 pl-2 rounded-md shadow-md text-taiga-gray-900"
          name="addressTwitter"
          type="addressTwitter"
          placeholder="Address twitter"
          value="{{addressTwitter}}"
        />
        <div class="text-taiga-gray-50 text-sm">Please input the quote tweet link about our tDOT(https: )</div>
      </div>
      <div  class="g-recaptcha" data-callback="recaptchaCallback"  data-sitekey="6Le94VUgAAAAAN34v0_p7tMF_gozpKZGAmQpg5r9"></div>
    <button
        id="submitBtn"
        type="submit"
        class="self-center bg-taiga-gray-50 px-6 py-2 rounded-sm text-primary-600 font-medium shadow-md hover:shadow-xl"
      disabled>
        Submit
      </button>
    </form></div>
</div>
<script>
  function recaptchaCallback() {
    document.getElementById('submitBtn').removeAttr('disabled');
  };
</script>
"form.handlebars" 97L, 3784B                                                                                        95,29         Bot
        />

express-session deprecated undefined resave option; provide resave option src/index.ts:52:43
express-session deprecated undefined saveUninitialized option; provide saveUninitialized option src/index.ts:52:43
Listening on 4000
chiave di ricerca423520333128138758
testtest=423520333128138758
testtest=423520333128138758
^C
[ec2-user@ip-192-168-67-168 views]$ vim form.handlebars
[ec2-user@ip-192-168-67-168 views]$ npm run start:server

> taiga-event-form@1.0.0 start:server
> NODE_ENV=dev ts-node ./src/index.ts

express-session deprecated undefined resave option; provide resave option src/index.ts:52:43
express-session deprecated undefined saveUninitialized option; provide saveUninitialized option src/index.ts:52:43
Listening on 4000
chiave di ricerca423520333128138758
testtest=423520333128138758
^C
        />
        <div class="text-taiga-gray-50 text-sm">Please input the email address that you use to subscribe Tapio's newsletter</div>
      </div>

      <label for="twitterAddress" class="text-taiga-gray-50 font-medium">Tweet link
        </label>
      <div class="flex flex-col gap-2 all_width">
        <input
          class="w-full h-12 pl-2 rounded-md shadow-md text-taiga-gray-900"
          name="addressTwitter"
          type="addressTwitter"
          placeholder="Address twitter"
          value="{{addressTwitter}}"
        />
        <div class="text-taiga-gray-50 text-sm">Please input the quote tweet link about our tDOT(https: )</div>
      </div>
      <div  class="g-recaptcha" data-callback="recaptchaCallback"  data-sitekey="6Le94VUgAAAAAN34v0_p7tMF_gozpKZGAmQpg5r9"></div>
    <button
        id="submitBtn"
        type="submit"
        class="self-center bg-taiga-gray-50 px-6 py-2 rounded-sm text-primary-600 font-medium shadow-md hover:shadow-xl"
      disabled>
        Submit
      </button>
    </form></div>
</div>
<script>
  function recaptchaCallback() {
    document.getElementById('submitBtn').removeAttribute('disabled');
  };
</script>
"form.handlebars" 97L, 3789B                                                                                        95,52         Bot
        />
        <div class="text-taiga-gray-50 text-sm">Please input the email address that you use to subscribe Tapio's newsletter</div>
      </div>

      <label for="twitterAddress" class="text-taiga-gray-50 font-medium">Tweet link
        </label>
      <div class="flex flex-col gap-2 all_width">
        <input
          class="w-full h-12 pl-2 rounded-md shadow-md text-taiga-gray-900"
          name="addressTwitter"
          type="addressTwitter"
          placeholder="Address twitter"
          value="{{addressTwitter}}"
        />
        <div class="text-taiga-gray-50 text-sm">Please input the quote tweet link about our tDOT(https: )</div>
      </div>
      <div  class="g-recaptcha" data-callback="recaptchaCallback"  data-sitekey="6Le94VUgAAAAAN34v0_p7tMF_gozpKZGAmQpg5r9"></div>
    <button
        id="submitBtn"
        type="submit"
        class="self-center bg-taiga-gray-50 px-6 py-2 rounded-sm text-primary-600 font-medium shadow-md hover:shadow-xl"
      disabled>
        Submit
      </button>
    </form></div>
</div>
<script>
  function recaptchaCallback() {
    document.getElementById('submitBtn').removeAttribute('disabled');
  };
</script>
"form.handlebars" 97L, 3789B                                                                                        95,52         Bot